<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="{{baseURL}}" />
  <title>2dv515 - A3</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  <script src="index.js"></script>
</head>

<body>
  <div id="resultsContainer"></div>

  <main role="main" class="container">
    {{{body}}}
  </main>
</body>

</html>